@import "../../../styles/variables";
@import "../../../styles/mixins";
//@import "../../../styles/base";

.logo {
    flex-basis: 80px;
   
    margin: auto 0px auto 20px;
    padding: 10px 0;
    cursor: pointer;
    &__item {
        object-fit: contain;
        width: 100% !important;
        // @include mediaSm {
        //     width: 60px;
        // }
    }
}